[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/jcf/tag_list.vim.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim-irblack"]
	path = vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "bundle/irblack"]
	path = bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
